<!DOCTYPE html>
<html>
<head>
    <title>Query 8</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <p>Query 8</p>

    <form id="form" class="topBefore" action="{{ url_for('query_8') }}" method="post">

        <input id="date" type="date" placeholder="DATE" name = "date">
        <input id="submit" type="submit" value="GO!">

    </form>

</body>
</html>