<!DOCTYPE html>
<html>
<head>
    <title>Query 1</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>

    <p>Query 1</p>

    <form id="form" class="topBefore">

        <input id="customer_id" type="text" placeholder="CUSTOMER ID">
        <input id="reg_number_start" type="text" placeholder="REGISTRATION NUMBER START">
        <input id="color" type="text" placeholder="COLOR">
        <input id="submit" type="submit" value="GO!">

    </form>

</body>
</html>