<!DOCTYPE html>
<html>
<head>
    <title>Queries</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css">
</head>
<body>

    <p>Queries</p>

    <a href="{{ url_for('query_1_') }}"><div>Query 1</div></a>
    <a href="{{ url_for('query_2_') }}"><div>Query 2</div></a>
    <a href="{{ url_for('query_3_') }}"><div>Query 3</div></a>
    <a href="{{ url_for('query_4_') }}"><div>Query 4</div></a>
    <a href="{{ url_for('query_5_') }}"><div>Query 5</div></a>
    <a href="{{ url_for('query_6_') }}"><div>Query 6</div></a>
    <a href="{{ url_for('query_7_') }}"><div>Query 7</div></a>
    <a href="{{ url_for('query_8_') }}"><div>Query 8</div></a>
    <a href="{{ url_for('query_9_') }}"><div>Query 9</div></a>
    <a href="{{ url_for('query_10_') }}"><div>Query 10</div></a>

</body>
</html>